<section class="clients">
    <div class="clients__wrapper">
        <div class="clients__item">
            <img src="./img/clients/1.png" alt="" class="clients__image">
        </div>
        <div class="clients__item">
            <img src="./img/clients/2.png" alt="" class="clients__image">
        </div>
        <div class="clients__item">
            <img src="./img/clients/3.png" alt="" class="clients__image">
        </div>
        <div class="clients__item">
            <img src="./img/clients/4.png" alt="" class="clients__image">
        </div>
        <div class="clients__item">
            <img src="./img/clients/5.png" alt="" class="clients__image">
        </div>
    </div>
</section>