<section class="feedback">
    <div class="feedback__wrapper">
        <div class="feedback__title">
            Need a Project?
        </div>
        <div class="feedback__text">
            Let us know what you're looking for in an agency. We'll take a look and see
            if this could be the start of something beautiful.
        </div>
        <form class="feedback__form feedback-form">
            <input type="text" placeholder="Your Name" class="feedback-form__name">
            <input type="email" placeholder="Your Email" class="feedback-form__email">
            <input type="text" placeholder="Your Title" class="feedback-form__title">
            <textarea placeholder="Your comment" class="feedback-form__comment"></textarea>
            <input type="submit" value="send message" class="feedback-form__button">
        </form>
    </div>
</section>