<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__rights">
            <h2 class="footer__inc">
                Piroll Design, Inc.
            </h2>
            <div class="footer__rights-info">
                © 2017 Piroll. All rights reserved.
                Designed by robirurk.
            </div>
        </div>
        <div class="footer__contacts">
            <div class="footer__email">
                hello@pirolltheme.com
            </div>
            <div class="footer__phone-number">
                +44 987 065 908
            </div>
        </div>
        <div class="footer__navigation">
            <ul class="footer__navigation-list">
                <li class="footer__navigation-item">Projects</li>
                <li class="footer__navigation-item">About</li>
                <li class="footer__navigation-item">Services</li>
                <li class="footer__navigation-item">Career</li>
            </ul>
            <ul class="footer__navigation-list">
                <li class="footer__navigation-item">News</li>
                <li class="footer__navigation-item">Events</li>
                <li class="footer__navigation-item">Contact</li>
                <li class="footer__navigation-item">Legals</li>
            </ul>
        </div>
        <div class="footer__social-networks">
            <ul class="footer__social-list">
                <li class="footer__social-item">Facebook</li>
                <li class="footer__social-item">Twitter</li>
                <li class="footer__social-item">Instagram</li>
                <li class="footer__social-item">Dribble</li>
            </ul>
        </div>
    </div>
</footer>