<header class="header">
    <a href="#introduction" class="header__logo">
        <img src="img/header/logo.png" alt="logo">
    </a>
    <nav class="header__nav nav">
        <ul class="nav__list">
            <li class="nav__list-item">
                <a href="#introduction" class="nav__link active">home</a>
            </li>
            <li class="nav__list-item">
                <a href="#about-us" class="nav__link">about</a>
            </li>
            <li class="nav__list-item">
                <a href="#work" class="nav__link">work</a>
            </li>
            <li class="nav__list-item">
                <a href="#work-process" class="nav__link">process</a>
            </li>
            <li class="nav__list-item">
                <a href="#services" class="nav__link">services</a>
            </li>
            <li class="nav__list-item">
                <a href="#testimonials" class="nav__link">testimonials</a>
            </li>
            <li class="nav__list-item">
                <a href="#feedback" class="nav__link">contact</a>
            </li>
        </ul>
    </nav>
</header>
