<section class="numbers">
    <div class="numbers__wrapper">
        <figure class="numbers__item">
            <img src="img/numbers/1.png" class="numbers__image" alt="projects completed">
            <figcaption>
                <div class="numbers__title">548</div>
                <div class="numbers__text">projects completed</div>
            </figcaption>
        </figure>
        <figure class="numbers__item">
            <img src="img/numbers/2.png" class="numbers__image" alt="working hours">
            <figcaption>
                <div class="numbers__title">1465</div>
                <div class="numbers__text">working hours</div>
            </figcaption>
        </figure>
        <figure class="numbers__item">
            <img src="img/numbers/3.png" class="numbers__image" alt="positive feedbacks">
            <figcaption>
                <div class="numbers__title">612</div>
                <div class="numbers__text">positive feedbacks</div>
            </figcaption>
        </figure>
        <figure class="numbers__item">
            <img src="img/numbers/4.png" class="numbers__image" alt="happy clients">
            <figcaption>
                <div class="numbers__title">735</div>
                <div class="numbers__text">happy clients</div>
            </figcaption>
        </figure>
    </div>
</section>