<section class="services">
    <div class="services__wrapper">
        <figure class="services__item">
            <img src="img/services/diamond.png" alt="diamond" class="services__image">
            <figcaption>
                <div class="services__title">ui / ux design</div>
                <div class="services__text">
                    Be set fourth land god darkness
                    make it wherein own
                </div>
            </figcaption>
        </figure>
        <figure class="services__item">
            <img src="img/services/arc.png" alt="arc" class="services__image">
            <figcaption>
                <div class="services__title">web development</div>
                <div class="services__text">
                    A she'd them bring void moving
                    third she'd kind fill
                </div>
            </figcaption>
        </figure>
        <figure class="services__item">
            <img src="img/services/phone.png" alt="phone" class="services__image">
            <figcaption>
                <div class="services__title">app / mobile</div>
                <div class="services__text">
                    Dominion man second spirit he,
                    earth they're creeping
                </div>
            </figcaption>
        </figure>
        <figure class="services__item">
            <img src="img/services/joy.png" alt="joy" class="services__image">
            <figcaption>
                <div class="services__title">game design</div>
                <div class="services__text">
                    Morning his saying moveth it
                    multiply appear life be
                </div>
            </figcaption>
        </figure>
        <figure class="services__item">
            <img src="img/services/plane.png" alt="plane" class="services__image">
            <figcaption>
                <div class="services__title">SEO / marketing</div>
                <div class="services__text">
                    Give won't after land fill creeping
                    meat you, may
                </div>
            </figcaption>
        </figure>
        <figure class="services__item">
            <img src="img/services/star.png" alt="star" class="services__image">
            <figcaption>
                <div class="services__title">photography</div>
                <div class="services__text">
                    Creepeth one seas cattle grass
                    give moving saw give
                </div>
            </figcaption>
        </figure>
        <figure class="services__item">
            <img src="img/services/magic-wand.png" alt="magic-wand" class="services__image">
            <figcaption>
                <div class="services__title">graphic design</div>
                <div class="services__text">
                    Open, great whales air rule for,
                    fourth life whales
                </div>
            </figcaption>
        </figure>
        <figure class="services__item">
            <img src="img/services/paint-bucket.png" alt="paint-bucket" class="services__image">
            <figcaption>
                <div class="services__title">illustrations</div>
                <div class="services__text">
                    Whales likeness hath, man kind
                    for them air two won't
                </div>
            </figcaption>
        </figure>
    </div>
</section>