<section class="testimonials">
    <div class="slider">
        <div class="testimonials__item-wrapper">
            <div class="testimonials__item">
                <div class="testimonials__text">
                    “ Outstanding job and exceeded all expectations. It was a pleasure
                    to work with them on a sizable first project and am looking
                    forward to start the next one asap.”
                </div>
                <div class="testimonials__author">
                    Michael Hopkins
                </div>
            </div>
        </div>
        <div class="testimonials__item-wrapper">
            <div class="testimonials__item">
                <div class="testimonials__text">
                    “ Outstanding job and exceeded all expectations. It was a pleasure
                    to work with them on a sizable first project and am looking
                    forward to start the next one asap.”
                </div>
                <div class="testimonials__author">
                    Michael Hopkins
                </div>
            </div>
        </div>
        <div class="testimonials__item-wrapper">
            <div class="testimonials__item">
                <div class="testimonials__text">
                    “ Outstanding job and exceeded all expectations. It was a pleasure
                    to work with them on a sizable first project and am looking
                    forward to start the next one asap.”
                </div>
                <div class="testimonials__author">
                    Michael Hopkins
                </div>
            </div>
        </div>
        <div class="testimonials__item-wrapper">
            <div class="testimonials__item">
                <div class="testimonials__text">
                    “ Outstanding job and exceeded all expectations. It was a pleasure
                    to work with them on a sizable first project and am looking
                    forward to start the next one asap.”
                </div>
                <div class="testimonials__author">
                    Michael Hopkins
                </div>
            </div>
        </div>
        <div class="testimonials__item-wrapper">
            <div class="testimonials__item">
                <div class="testimonials__text">
                    “ Outstanding job and exceeded all expectations. It was a pleasure
                    to work with them on a sizable first project and am looking
                    forward to start the next one asap.”
                </div>
                <div class="testimonials__author">
                    Michael Hopkins
                </div>
            </div>
        </div>
    </div>
</section>