<section class="work-process">
    <div class="work-process__title">Our Work Process</div>
    <div class="work-process__text">
        Was years it seasons was there form he in in them together over that,
        third sixth gathered female creeping bearing behold years.
    </div>
    <div class="work-process__video-container">
        <div class="click-listener">
            <video class="work-process__video" controls>
                <source src="1.mp4" type="video/mp4">
            </video>
            <div class="play-icon">
                <div class="triangle"></div>
            </div>
        </div>
    </div>
</section>
