<section id="work" class="work">
    <div class="work__list">
        <div class="work__list-item color_dark">
            <div class="work__adaptive-block"></div>
            <div class="work__item-content"></div>
        </div>
        <div class="work__list-item color_light">
            <div class="work__adaptive-block"></div>
            <div class="work__item-content"></div>
        </div>
        <div class="work__list-item color_dark">
            <div class="work__adaptive-block"></div>
            <div class="work__item-content"></div>
        </div>
        <div class="work__list-item color_light">
            <div class="work__adaptive-block"></div>
            <div class="work__item-content"></div>
        </div>
        <div class="work__list-item color_light">
            <div class="work__adaptive-block"></div>
            <div class="work__item-content"></div>
        </div>
        <div class="work__list-item color_dark">
            <div class="work__adaptive-block"></div>
            <div class="work__item-content"></div>
        </div>
        <div class="work__list-item color_light">
            <div class="work__adaptive-block"></div>
            <div class="work__item-content"></div>
        </div>
        <div class="work__list-item color_dark">
            <div class="work__adaptive-block"></div>
            <div class="work__item-content"></div>
        </div>
    </div>

    <button class="work__button">LOAD MORE WORKS</button>
</section>